/* @font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans.otf") format("opentype");
}
 */
.font-size-title {
  font-size: 20px;
  line-height: 24px;
}

.font-size-label {
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 22px;
  color: #333333;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}
