#transaction-container {
  background-image: url("../background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $base-white;
  min-height: 100vh;
  padding: 30px 0;
  .box {
    box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.83);
    background: $base-white;
  }
  .box-header {
    padding: 15px;
    background-color: $base-blue;
    color: $base-white;
    display: flex;
    .title {
      flex-grow: 1;
      text-align: center;
      line-height: 24px;
      font-size: 18px;
    }
  }
  .box-body {
    padding: 20px 15px;
    .label h6 { font-weight: bold;}
    .form-item {margin-top: 10px;}
    .item-field {
      width: 100%;
      color: $base-grey;
    }
  }
  .transaction-form {
    margin-bottom: 20px;
    .btn-submit {
      background-color: $base-orange;
      color: $base-white;
      min-width: 10em;
    }
  }

  .recent-transactions {
    .filter-group {
      display: flex;
      justify-content: space-between;
      .search {
        display: flex;
        flex-grow: 1;
        align-items: center;
      }
      .filter {
        display: flex;
        align-items: center;
        .label {font-weight: bold}
        .button-group{
          display: flex;
          align-items: center;
        }
        .btn { border-radius: 0}
        .btn-item {
          border: solid 1px $base-grey;
          font-size: 12px;
          cursor: pointer;
          &.no-border-right {border-right: 0}
        }
        .amount {min-width: 88px}
        .beneficiary { min-width: 115px }
        .date {min-width: 68px }
      }
    }

    .result-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      .border-left {width: 8px;}
      .main-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        border: solid 1px $base-grey;
        border-left: none;
        border-left: none;
        .date { min-width: 10%;}
        .avatar{
          width: 15%;
          display: flex;
          justify-content: center;
          img {
            width: 3rem;
            height: 3rem;
            filter: grayscale(100%)
          }
        }
        .transaction {
          flex-grow: 1;
          .name {font-weight: bold;}
        }
        .amount{
          font-weight: bold;
          font-size: 1.15rem;
        }
        &.no-border-top {
          border-top: 0;
        }
      }
    }
  }

  @media all and (max-width: 1024px) {
    .filter-group {
      flex-flow: column;
    }
  }

  @media all and (max-width: 480px) {
    .filter {
      flex-flow: column;
    }
    .result-item .main-info .date, .avatar { min-width: 20% !important;}
    .avatar img {
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }
}