@import 'font';
@import 'variable';
@import 'text';
@import 'header';
@import 'transaction';

@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Museo Sans', 'arial', sans-serif;
  font-weight: 500;
}