<div id="transaction-container">
  <div class="container">
    <div class="row mt-md">
      <div class="col-md-4">
        <app-transaction-form>
        </app-transaction-form>
      </div>
      <div class="col-md-8">
        <app-transaction-history>
        </app-transaction-history>
      </div>
    </div>
  </div>
</div>