<div class="transaction-form box">
  <div class="box-header ">
    <div class="icon">
      <img src="/assets/icons/arrows.png" alt="icon">
    </div>
    <div class="title">Make a Transfer</div>
  </div>

  <div class="box-body">
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()" *ngIf="!isConfirm">
      <div class="form-item">
        <div class="label">
          <h6>FROM ACCOUNT</h6>
        </div>
        <mat-form-field class="item-field">
          <input matInput formControlName="fromAccount" readonly>
        </mat-form-field>
      </div>
      <div class="form-item">
        <div class="label">
          <h6>TO ACCOUNT</h6>
        </div>
        <mat-form-field class="item-field" floatLabel="never">
          <input type="text" placeholder="Account" matInput formControlName="toAccount">
        </mat-form-field>
        <mat-error *ngIf="isValidate && transferForm.controls.toAccount.errors?.required">
          Account is required
        </mat-error>
      </div>
      <div class="form-item">
        <div class="label">
          <h6>AMOUNT</h6>
        </div>
        <mat-form-field class="item-field" floatLabel="never">
          <input type="number" matInput placeholder="$ 0.00" formControlName="amount">
        </mat-form-field>
        <mat-error *ngIf="isValidate && transferForm.controls.amount.errors?.balance">
          The balance is less than $500
        </mat-error>
        <mat-error *ngIf="isValidate && transferForm.controls.amount.errors?.required">
          Amount is required
        </mat-error>
        <mat-error *ngIf="isValidate && transferForm.controls.amount.errors?.min">
          Minimum amount is 1
        </mat-error>
      </div>
      <div class="item text-right">
        <button type="submit" mat-button class="btn-submit" id="submit-button">SUBMIT</button>
      </div>
    </form>

    <ng-container *ngIf="isConfirm">
      <div class="from-account">
        <div class="label">
          <h6>FROM ACCOUNT</h6>
        </div>
        <div class="value">
          {{transferForm.controls.fromAccount.value}}
        </div>
      </div>
      <div class="to-account mt-3">
        <div class="label">
          <h6>TO ACCOUNT</h6>
        </div>
        <div class="value">
          {{transferForm.controls.toAccount.value}}
        </div>
      </div>
      <div class="amount mt-3">
        <div class="label">
          <h6>AMOUNT</h6>
        </div>
        <div class="value">
          $ {{transferForm.controls.amount.value.toFixed(2)}}
        </div>
      </div>
      <div class="item text-right">
        <button type="button" mat-button class="btn-submit" id="transfer-button"
          (click)="handleTransferTransaction()">TRANSFER</button>
      </div>
    </ng-container>
  </div>
</div>