<div class="recent-transactions">
  <div class="box">
    <div class="box-header p-3">
      <div class="icon">
        <img src="/assets/icons/briefcase.png" alt="icon-transactions" />
      </div>
      <div class="title">
        Recent Transactions
      </div>
    </div>
    <div class="box-body">
      <div class="filter-group">

        <div class="search">
          <mat-form-field class="item-field" floatLabel="auto">
            <input matInput placeholder="Search by typing ..." (input)="onSearch($event.target.value)"
              [(ngModel)]="filter.searchText">
          </mat-form-field>
          <button *ngIf="!!filter.searchText" (click)="onClearSearch()" mat-button matSuffix mat-icon-button
            aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="filter">
          <div class="label p-3">Sort by</div>
          <div class="_btn-group">
            <div class="btn btn-item no-border-right date" (click)="sortOrders('date')">DATE
              <span *ngIf="filter.sortBy.date === sortDirection.DESC" class="fa fa-caret-down"></span>
              <span *ngIf="filter.sortBy.date === sortDirection.ASC" class="fa fa-caret-up"></span>
            </div>
            <div class="btn btn-item no-border-right beneficiary" (click)="sortOrders('beneficiary')">BENEFICIARY
              <span *ngIf="filter.sortBy.beneficiary === sortDirection.DESC" class="fa fa-caret-down"></span>
              <span *ngIf="filter.sortBy.beneficiary === sortDirection.ASC" class="fa fa-caret-up"></span>
            </div>
            <div class="btn btn-item amount" (click)="sortOrders('amount')">AMOUNT
              <span *ngIf="filter.sortBy.amount === sortDirection.DESC" class="fa fa-caret-down"></span>
              <span *ngIf="filter.sortBy.amount === sortDirection.ASC" class="fa fa-caret-up"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="list-result mt-3">
        <div class="result-item" *ngFor="let item of transactionList; let first = first">
          <div class="border-left" [ngStyle]="{'background-color': item.categoryCode}"></div>
          <div class="main-info" [ngClass]="{'no-border-top': !first}">
            <div class="date">{{item.dates.valueDate | date:'MMM. dd yyyy'}}</div>
            <div class="avatar">
              <img [src]="bindAvatarFromName(item.merchant.name) | safeUrl" alt="logo">
            </div>
            <div class="transaction">
              <div class="name">{{item.merchant.name}}</div>
              <div class="method">{{item.transaction.type}}</div>
            </div>
            <div class="amount">-${{item.transaction.amountCurrency.amount | moneyFormat}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>