/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field.mat-focused .mat-form-field-label {
  display: none !important;
}

.mat-form-field-infix {
  border-top: none;
}

.mat-button{
  &:focus{
    outline: none;
  }
}

.mat-error{
    margin-top: -16px;
    font-size: 12px;
}
